
<%- include('../includes/header') %> 
<div class="text-center my-5">
    
   

  
  
<div>
  <div class="card d-flex justify-content-center" style="width: auto">
    <div class="card-body">
      <% if(covidInfo){%>
        <h4><%= covidInfo.name  %> </h4>
      <h5 class="card-title text-danger">Temperature</h5>
      <% covidInfo.temperature.forEach(temp =>{ %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date:</th>
              <th scope="col">Temperature</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= temp.date.toLocaleDateString() %></td>
              <td><%= temp.temp %>*C</td>
            </tr>
          </tbody>
        </table>
        <% }) %> 
      </div>
    </div>
</div>
<br>
<div>
  <div class="card d-flex justify-content-center" style="width: auto">
    <div class="card-body">
      <h5 class="card-title text-danger">Vaccinated</h5>
      <% covidInfo.vaccine.forEach(vaccine =>{ %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date:</th>
              <th scope="col">Vaccine Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= vaccine.date.toLocaleDateString() %></td>
              <td><%= vaccine.vaccine %></td>
            </tr>
          </tbody>
        </table>
        <% }) %> 
      </div>
    </div>
</div>
<br>
<div>
  <div class="card d-flex justify-content-center" style="width: auto">
    <div class="card-body">
      <h5 class="card-title text-danger">Infected with Covid</h5>
      <% covidInfo.infected.forEach(infected =>{ %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date:</th>
              <th scope="col">Method Test</th>
              <th scope="col">Note</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= infected.date.toLocaleDateString() %></td>
              <td><%= infected.methodTest %></td>
              <td><%= infected.note %></td>
            </tr>
          </tbody>
        </table>
        <% }) %> 
      </div>
    </div>
</div>
<% }else{%>
  <h4>No Infomation covid</h4> 
  <% } %> 
<br>


  
<%- include('../includes/footer')  %> 
    

