<%- include('../includes/header') %>
<div class="row">
  <% for(let timeKeepingInDay of timeKeeping){
    var date1 = new Date(timeKeepingInDay.date);
    var date2 = new Date(dayLeaveWithHour.date)
     if(date1.getTime() === date2.getTime()){
      var totalWorkInDay = parseInt(dayLeaveWithHour.hours);
       var leaveHour = dayLeaveWithHour.hours
    }else{
      var totalWorkInDay = 0;
      var leaveHour = 0

    } %> 

  <article class="card">
    <header class="card-header">
      <h1 class="card-title">
        Date: <%= timeKeepingInDay.date.toLocaleDateString() %>
        <h5 class="text-danger">Leave Hours: <%= leaveHour  %> </h5>
      </h1>
    </header>

    <div class="card-text">
      <% var i = 1 %> <% for(let shift of timeKeepingInDay.detail){ 
          var checkIn = shift.checkIn;
          var checkOut = shift.checkOut
        var totalWorkInCase = 0; 
        if(checkIn.getTime() === checkOut.getTime()){
          totalWorkInCase =0
        }else{
        totalWorkInCase +=
        ((checkOut.getHours()+checkOut.getMinutes()/60) -
        (checkIn.getHours()+checkIn.getMinutes()/60)); 
        }
        totalWorkInDay += totalWorkInCase %>

      <p>Case: <%= i %></p>
      <p><% i++ %></p>
      <p>Check In: <%= checkIn.toLocaleString() %></p>
      <% if(checkOut.getTime() === checkIn.getTime()){ %>
      <p>Check Out: <b>--:--</b></p>
      <%}else{%>
      <p>Check Out: <%= checkOut.toLocaleString() %></p>
      <% } %>
      <p>Work Place: <%= shift.workplace %></p>
      <h6>Total in case: <%= totalWorkInCase.toFixed(1) %>h</h6>
      <hr />
      <% } %> 
      
      <% if(totalWorkInDay >= 8){ %>
      <h5>Total in day: 8h</h5>
      <h5>Over Time: <%= (totalWorkInDay - 8).toFixed(1) %>h</h5>

      <% }else{ %>
      <h5>Total in day: <%= totalWorkInDay.toFixed(1)%>h</h5>
      <% } %>
    </div>
  </article>
  <% } %>
</div>

<%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>



<div class="m-3">
  <h3>Leave</h3>
  <p>Date: </p>
<% leave.dayLeave.forEach(element => { %>
  <h6>* <%= element.toLocaleDateString() %></h6>
<% }); %>

<p>Leave with hours:</p>
<h6><%= dayLeaveWithHour.date.toLocaleDateString() %>: <%=dayLeaveWithHour.hours %>h</h6>
  </div>

<div class="m-3">
  <div>
    <h3 style="font-weight: bold;">Salary in Month</h3>
  </div>
  <form action="/find-salary" method="POST">
    <label for="time">Choose Month </label>
    <input type="month" name="month" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div <%= salary ? 'show' : 'hidden'%> >
  <div class="card d-flex justify-content-center" style="width: auto">
    <div class="card-body">
      <h5 class="card-title">Salary detail <% %></h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Salary Scale</th>
            <th scope="col">Over Time</th>
            <th scope="col">Lost Time</th>
            <th scope="col">Salary</th>
          </tr>
        </thead>
        <tbody>
          <>
            <td><%= name %></td>
            <td><%= salaryScale %></td>
          <% if(salary) {%>
            <td><%= overTime.toFixed(2) %></td>
            <td><%= lostTime.toFixed(2) %></td>
            <td><%= salary %> VND</td>
            <% }%>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../includes/footer') %>
